* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url("Images/mastery-complex.jpg");
    background-size: cover;
}
.home{
    
}
.home h1{
    text-align: center;
    font-family: inherit
}
.home p1{
    
}
.container {
    width: 100vmin;
    height: 70vmin;
    padding: 50px 30px;
    background-color: white;
    position: absolute;
    
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.container h1{
    text-align: justify;
    font-family: cursive;
    font-weight: bolder;
}
.container p1{
    text-align: center;
    font-family: cursive;
}
#Enter Username{
    text-align: center;
    width: 50px;
}
#Enter Password{
    text-align: center;
    width: 50px;
}